@tailwind base;
@tailwind components;
@tailwind utilities;

/* warna dan helper kecil */
:root{
  --blue:#253380;      /* referensi saja jika perlu */
  --white:#e8e9eb;
  --orange:#d48715;
  --green:#267510;
}
html { scroll-behavior: smooth; }
